<table id="users" >
    <thead>
        <tr >
            <th>id</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Description</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let loc of locationsArray ">
        <tr >
            <td>{{loc.id}}</td>
            <td>{{loc.lat}}</td>
            <td>{{loc.lng}}</td>
            <td>{{loc.desc}}</td>
            <td>{{loc.address}}</td>
            <div fxLayoutGap="10px">
                <button  class="btn" mat-stroked-button color="primary1" routerLink="/dashboard/map">View</button>
                <button  class="btn" mat-stroked-button color="primary1" >Edit</button>
                <button  class="btn" mat-stroked-button color="primary1" (click)="deletelocation(loc.id)">Delete</button>
            </div>
    </tbody>
</table>

