<table id="users" >
    <thead>
        <tr >
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Description</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let loc of locationsArray ">
        <tr >
            <td>{{loc.lat}}</td>
            <td>{{loc.lng}}</td>
            <td>{{loc.desc}}</td>
            <td></td>
            <div >
                <button  class="btn" mat-stroked-button color="primary1" >View</button>
                <button  class="btn" mat-stroked-button color="primary1" >Edit</button>
                <button  class="btn" mat-stroked-button color="primary1" >Delete</button>
            </div>
    </tbody>
</table>